<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Attendance App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップへ", root_path %></li>
        <li><%= link_to "ユーザー一覧", '#'%></li>
        <li><%= link_to "出勤社員一覧", '#'%></li>
        <li><%= link_to "拠点情報の修正", '#'%></li>
        <li><%= link_to "基本情報の修正", '#'%></li>
        <li><%= link_to "アカウント", '#'%></li>
      </ul>
    </nav>
  </div>
</header>